<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center" id="i18_skills">
            <div class="navy-line"></div>
            <h1><span data-i18n="skills.my_skills">Skills and Awards</span></h1>
        </div>
    </div>
    <div class="row features-block">

        <div class="wow fadeInLeft col-lg-6" style="margin-bottom: 1cm;">
            <div class="text-center">
              <h2><span style="font-weight: bold;font-size: 150%;">Skills</span></h2>
            </div>
             {% for skill in site.data.index.skills %}
                <p style="font-size: 120%;">
                    <span style="font-weight: bold">{{ skill.name }}</span>
                    <span>{{ skill.detail }}</span>
                </p> 
            {% endfor %}
        </div>



        <div class="wow fadeInRight col-lg-6 " style="margin-bottom: 1cm;">
            <div class="text-center">
              <h2><span style="font-weight: bold;font-size: 150%;">Awards</span></h2>
            </div>
            {% for award in site.data.index.awards %}
                <p style="font-size: 120%;">
                    <span style="font-weight: bold">{{ award.name }}</span>
                    <span>{{ award.detail }}</span>
                </p> 
            {% endfor %}
        </div>      
    </div>
</div>
