<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center" id="i18_skills">
            <div class="navy-line"></div>
            <h1><span data-i18n="skills.my_skills">Skills</span></h1>
        </div>
    </div>
    <div class="row features-block">

        <div class="wow zoomIn col-lg-6 text-center" style="margin-bottom: 1cm;">
            <h4>{{ site.data.index.skills.id }}</h4>
            <canvas id="{{ site.data.index.skills.id }}" height="250" width="400"></canvas>
        </div>
        <div class="wow zoomIn col-lg-6 text-center" style="margin-bottom: 1cm;">
            <h4>{{ site.data.index.skills2.id }}</h4>
            <canvas id="{{ site.data.index.skills2.id }}" height="250" width="400"></canvas>
        </div>

        <script>
        var ctx = document.getElementById("{{ site.data.index.skills.id }}");
        var data = {
            labels: "{{ site.data.index.skills.aspects }}".split(","),
            datasets: [{
                label: "{{ site.data.index.skills.label }}",
                backgroundColor: 'rgba(51, 133, 255,0.6)', 
                hoverBackgroundColor: 'rgba(51, 133, 255,1)',         
                data: [{{ site.data.index.skills.percentage }}]
                }]
        };
        var myRadarChart = new Chart(ctx, {
            type: 'horizontalBar',
            data: data,
            options: {                
                legend: {display: false},
                scales: {                   
                    xAxes: [{
                            display: true,
                            ticks: {
                                beginAtZero: true,                                
                                max: 100,
                                fontSize: 15,
                                fontColor: "#000"
                            },                            
                        }],
                    yAxes: [{
                            display: true,
                            ticks: {
                                fontSize: 15,
                                fontColor: "#000"
                            },                            
                        }]    
                },
                tooltips: {
                	bodyFontSize: 15,
			        callbacks: {
			            label: function(tooltipItem, data) {
			            	
			                return "";
			            }
			        }
		    	}
            }
        });
        </script>
  
        <script>
        var ctx = document.getElementById("{{ site.data.index.skills2.id }}");
        var data = {
            labels: "{{ site.data.index.skills2.aspects }}".split(","),
            datasets: [{
                label: "{{ site.data.index.skills2.label }}",
                backgroundColor: 'rgba(51, 133, 255,0.6)', 
                hoverBackgroundColor: 'rgba(51, 133, 255,1)',          
                data: [{{ site.data.index.skills2.percentage }}],
                details: "{{ site.data.index.skills2.details }}".split(",")
                }]
        };
        var myRadarChart = new Chart(ctx, {
            type: 'horizontalBar',
            data: data,

            options: {                
                legend: {display: false},
                scales: {                   
                    xAxes: [{
                            display: true,
                            ticks: {
                                beginAtZero: true,                                
                                max: 100,
                                fontSize: 15,
                                fontColor: "#000"
                            },                            
                        }],
                    yAxes: [{
                            display: true,
                            ticks: {
                                fontSize: 15,
                                fontColor: "#000"
                            },                            
                        }]    
                },
                tooltips: {
                	bodyFontSize: 15,
			        callbacks: {
			            label: function(tooltipItem, data) {
			            	var value = data.datasets[0].details[tooltipItem.index];
			                return value;
			            }
			        }
		    	}
            },

        });
        </script>
    </div>
</div>
