<div class="container" id="i18_career">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="summary.my_summary">Summary</span></h1>
        </div>
    </div>
    <div class="row features-block">
       
        <div class="col-lg-12">
             
              
              {% for award in site.data.index.summary %}
                  <p style="font-size: 120%;">
                      <span style="font-weight: bold">{{ award.name }}</span>
                      <span>{{ award.detail }}</span>
                  </p> 
              {% endfor %}
             
        </div>
       
    </div>
</div>
